.product-form .panel-heading{
    cursor: pointer;
}

.display-none{
    display: none;
}

.productGallery .PGItem {
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(143, 190, 214);
    padding: 5px;
    vertical-align: top;
}
.productGallery .PGItemImage {
    width: 90px;
    height: 80px;
    overflow: hidden;
}

.cursor-pointer{
    cursor: pointer;
}

#before-load{
    display: none;
    position: fixed;
    width: 100%;
    background: rgba(255,255, 255, 0.8);
    height: 100%;
    left: 0; /*положение элемента слева*/
    top: 0; /*положение элемента сверху*/
    right: 0; /*положение элемента справа*/
    bottom: 0; /*положение элемента снизу*/
    z-index: 1001; /*располагаем его над всеми элементами на странице*/
}

#before-load span{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -50px;
    margin-top: -50px;
}

#before-load span img{
    width: 100px;
}

.productGallery .productGalleryClose{
    border: 0;
    height: auto;
    position: absolute;
    margin-top: -5px;
    margin-left: 79px;
    background: rgb(232, 232, 232);
    padding: 0 4px;
}

.thumbnailMy{
    height: 130px;
}

.view .tools{
    margin: 60px 0 0 0;
}

.thumbnail .thumbnailMy img{
    max-width: 200px;
    max-height: 200px;
}


.thumbnail.thumbnailMy .view{
    background-size: cover;
}