<div class="login_wrapper">
    <div class="animate form login_form wow bounceInLeft">
        <section class="login_content">
            <form>
                <h1>Аторизация</h1>
                <div>
                    <input type="text" class="form-control"  ng-model="user.email" placeholder="Email" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required="" />
                </div>
                <div>
                    <a class="btn btn-default submit" href="#" ng-click="login()">Log in</a>
                </div>

                <div class="clearfix"></div>
            </form>
        </section>
    </div>
</div>