<div class="menu_section">
    <h3>Основное</h3>
    <ul class="nav side-menu">
        <li><a ui-sref="index"><i class="fa fa-edit"></i> Первая</a></li>
        <li><a ui-sref="editor"><i class="fa fa-edit"></i> Редактор </a></li>
        <li><a ui-sref="posts"><i class="fa fa-edit"></i> Посты </a></li>
        <li><a ui-sref="post_category"><i class="fa fa-edit"></i> Категории</a></li>
    </ul>
</div>