<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph form-add animate fadeInRight">
            <div class="row x_title"><h3>Описание поста</h3></div>
            <form class="animate fadeInDown product-form">
                <ng-include src="'app/views/post-form.html'"></ng-include>
                <div class="form-group animate bounceInLeft">
                    <button class="btn btn-info" ui-sref="posts">Назад</button>&nbsp;
                    <button class="btn btn-success" ng-click="saveProduct()">Сохранить</button>
                </div>
            </form>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="x_title">
                        <h2><i class="fa fa-align-left"></i> Gallery</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_panel">
                        <div class="x_content">
                            <input type="file" nv-file-select uploader="uploader" multiple/><br/>
                            <table class="table" ng-show="uploader.queue.length >0 ">
                                <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th ng-show="uploader.isHTML5">Progress</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                                ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="images && images.length >0">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-55" ng-repeat="item in images">
                                    <div class="thumbnail thumbnailMy">
                                        <div class="image view view-first">
                                            <img src="{{API_PUBLIC.url + item.dir+'big_'+item.image}}" alt="image" />
                                            <div class="mask">
                                                <p></p>
                                                <div class="tools tools-bottom">
                                                    <a target="_blank" href="{{item.dir + item.image}}"><i class="fa fa-eye"></i></a>
                                                    <a ng-click="deleteImage(item._id)"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>