<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according01')">Основные поля</h4>
        </div>
        <div class="panel-body" id="according01">
            <div class="form-group">
                <label for="name">Название:</label>
                <input type="text" class="form-control" id="name" ng-model="category.name">
            </div>
            <div class="form-group">
                <label for="title">Заголовок:</label>
                <input type="text" class="form-control" id="title" ng-model="category.title">
            </div>
            <div class="form-group">
                <label for="small">Краткое описание:</label>
                <textarea class="form-control" id="small" ng-model="category.small"></textarea>
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea froala="froalaOptions" class="form-control" id="description" ng-model="category.description"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="panel-group">
    <!-- 1 панель -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title cursor-pointer" ng-click="toggle('#according02')">Мета</h4>
        </div>
        <div class="panel-body display-none" id="according02">
            <div class="form-group">
                <label for="metatitle">Meta Title:</label>
                <textarea class="form-control" id="metatitle" ng-model="category.metatitle"></textarea>
            </div>
            <div class="form-group">
                <label for="metadescription">Meta Description:</label>
                <textarea class="form-control" id="metadescription" ng-model="category.metadescription"></textarea>
            </div>
            <div class="form-group">
                <label for="metakeys">Meta Keys:</label>
                <textarea class="form-control" id="metakeys" ng-model="category.metakeys"></textarea>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id" ng-model="category.id">